
Group1_Lab1/.ipynb_checkpoints/empty_file-checkpoint.txt
Group1_Lab1/.ipynb_checkpoints/Lab1-apple-samsung-example-checkpoint.txt
Group1_Lab1/.ipynb_checkpoints/Lab1-assignment-toolkits-checkpoint.ipynb
Group1_Lab1/.ipynb_checkpoints/Lab1.1-introduction-checkpoint.ipynb
Group1_Lab1/.ipynb_checkpoints/Lab1.2-introduction-to-NLTK (1)-checkpoint.ipynb
Group1_Lab1/.ipynb_checkpoints/Lab1.3-introduction-to-spaCy (1)-checkpoint.ipynb
Group1_Lab1/.ipynb_checkpoints/spacy_tree_structure-checkpoint.svg
.ipynb_checkpoints/Group1_Lab1-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
Group1_Lab1.ipynb
Group1_Lab1/Lab1-assignment-toolkits.ipynb
Group1_Lab1.ipynb
Group1_Lab1/Lab1-assignment-toolkits.ipynb
Group1_Lab1/Lab1-assignment-toolkits.ipynb
Group1_Lab1/Lab1-assignment-toolkits.ipynb
Group1_Lab1.ipynb
